<div class="margin20"></div>
<section class="chinhsach">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="content_info idden-xs hidden-sm ship hidden-xs">
                    <div class="row content-column">
                        <div class="item-content col-md-3">
                            <div class="item-image">
                                <img src="/Theme/tinhocanhphat/img/icon-1-60x45.png">
                            </div>
                            <div class="item-title">
                                Miễn phí vận chuyển đơn hàng trên 500k <span class="title-child"></span>
                            </div>
                        </div>
                        <div class="item-content col-md-3">
                            <div class="item-image">
                                <img src="/Theme/tinhocanhphat/img/icon-2-60x45.png">
                            </div>
                            <div class="item-title">
                                Hỗ trợ khách hàng trực tuyến <span class="title-child"></span>
                            </div>
                        </div>
                        <div class="item-content col-md-3">
                            <div class="item-image">
                                <img src="/Theme/tinhocanhphat/img/icon-3-60x45.png">
                            </div>
                            <div class="item-title">
                                Sản phẩm uy tín chất lượng cao <span class="title-child"></span>
                            </div>
                        </div>
                        <div class="item-content col-md-3">
                            <div class="item-image">
                                <img src="/Theme/tinhocanhphat/img/icon-4-60x45.png">
                            </div>
                            <div class="item-title">
                                Giá cả phải chăng mua sắm tiết kiệm                                                    <span class="title-child"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="margin20"></div>