@model CoreCnice.Domain.ESHOP_NEWS
@{
    string linkimg = "";

    if (!String.IsNullOrEmpty(ViewBag.Img))
    {
        linkimg = "/UploadImages/" + ViewBag.Img;
    }
    else
    {
        linkimg = "/images/slider_cm.jpg";

    }
}
<style>
    .tongsanpham .col-md-3 {
        width: 20%;
    }

    .bx-wrapper {
        width: 100%;
        margin: 0 auto;
    }
</style>
<section class="dieuhuong">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">TRANG CHỦ</a></li>
                    <li class="breadcrumb-item"><a href="#">@ViewBag.Title</a></li>
                    <li class="breadcrumb-item active">@Model.NEWS_TITLE</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="margin20"></div>
<div class="margin20"></div>
<div class="margin20"></div>
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="featured_services">
                    <div class="row">
                        <div id="featured_services__left" class="col-xs-12 col-md-12">
                            <div class="bodymain">
                                <div class="row products">
                                    <div class="col-xs-12 col-md-12">                                     
                                        <div class="col-xs-12 col-sm-12 col-md-4">
                                            <div class="service_info_middle">
                                                <aside class="right_content">
                                                    <div class="tableparameter">
                                                        <h2>N4200/4GB/500GB/Win10/(GA070T)</h2>
                                                        <ul class="parameter">
                                                            <li class="g92_94_93">
                                                                <span>CPU:</span><div><a href="https://www.thegioididong.com/tin-tuc/tim-hieu-vi-xu-ly-may-tinh-cpu-intel-596066#intelpentinum" target="_blank">Intel Pentium</a>, N4200, 1.10 GHz</div>
                                                            </li>
                                                            <li class="g146_149_155">
                                                                <span>RAM:</span><div>4 GB, <a href="https://www.thegioididong.com/hoi-dap/ram-ddr3l-on-board-la-nhu-the-nao-951049" target="_blank">DDR3L(On board)</a>, 1600 MHz</div>
                                                            </li>
                                                            <li class="g184">
                                                                <span>Ổ cứng:</span><div><a href="https://www.thegioididong.com/hoi-dap/hdd-la-gi-922791" target="_blank">HDD: 500 GB</a></div>
                                                            </li>
                                                            <li class="g187_189">
                                                                <span>Màn hình:</span><div>14 inch, HD (1366 x 768)</div>
                                                            </li>
                                                            <li class="g193_191">
                                                                <span>Card màn hình:</span><div><a href="https://www.thegioididong.com/hoi-dap/card-do-hoa-tich-hop-la-gi-950047" target="_blank">Card đồ họa tích hợp</a>, <a href="https://www.thegioididong.com/tin-tuc/card-do-hoa-onboard-tren-laptop-594905#intelhdgraphics" target="_blank">Intel® HD Graphics</a></div>
                                                            </li>
                                                            <li class="g200">
                                                                <span>Cổng kết nối:</span><div><a href="https://www.thegioididong.com/tin-tuc/hdmi-la-gi--590061" target="_blank">HDMI</a>, <a href="https://www.thegioididong.com/hoi-dap/cho-minh-hoi-thong-so-laptop-co-nhung-cai-nay-10-743872" target="_blank">LAN (RJ45)</a>, <a href="https://www.thegioididong.com/tin-tuc/cong-giao-tiep-usb-la-gi--590168" target="_blank">USB 2.0</a>, <a href="https://www.thegioididong.com/hoi-dap/usb-type-c-chua-n-mu-c-co-ng-ke-t-no-i-mo-i-723760" target="_blank">USB Type-C</a>, <a href="https://www.thegioididong.com/hoi-dap/usb-30-la-gi-926737" target="_blank">USB 3.0</a>, <a href="https://www.thegioididong.com/hoi-dap/vga-la-gi-920575" target="_blank">VGA (D-Sub)</a></div>
                                                            </li>
                                                        </ul>
                                                        <div class="area_order">
                                                            <a href="/them-vao-gio-hang?ProductId=101829" class="buy_now" data-value="101829"><b>Mua ngay </b></a>
                                                        </div>
                                                        <div class="closebtn none"><i class="icondetail-closepara"></i></div>
                                                    </div>
                                                    <div class="clr"></div>
                                                </aside>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 clearright">
                                            <div class="rightInfo">
                                                <ul class="policy ">
                                                    <li>Trong hộp có: <a class="stdImg" href="javascript:void(0)" onclick="showGalleryPS(100,0);">Sách hướng dẫn, Thùng máy, Adapter sạc <i class="icondetail-camera standkit" href="//cdn.tgdd.vn/Products/Images/44/101829/Kit/asus-x441na-n4200-bobanhangchuan-org.jpg"></i></a></li>
                                                    <li>Bảo hành chính hãng: <b>thân máy 24 tháng, pin 12 tháng, sạc 12 tháng</b> - <a class="pWarr" target="_blank" href="/bao-hanh/asus">Xem điểm bảo hành</a></li>

                                                    <li class="timeship">Giao hàng tận nơi miễn phí trong <strong>60 phút</strong>. <a href="https://www.thegioididong.com/giao-hang" target="blank">Tìm hiểu</a></li>
                                                    <li><i class="icon-poltick"></i><strong>1 đổi 1 trong 1 tháng</strong> với sản phẩm lỗi. <a href="https://www.thegioididong.com/chinh-sach-bao-hanh-san-pham" target="blank">Tìm hiểu</a></li>
                                                </ul>


                                                <div class="productOld">
                                                    <a class="viewold" target="_blank" href="/may-doi-tra/laptop/asus-x441na-n4200-4gb-500gb-win10-ga070t?pid=101829&amp;c=44">
                                                        Xem Asus X441NA N4200/4GB/500GB/Win10/(GA070T) cũ
                                                        <div>
                                                            Giá từ: <span>4.900.000₫</span>
                                                            <label class="installment">Tiết kiệm đến 35%</label>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="productOld">
                                                    <a class="viewold" target="_blank" href="/may-doi-tra/laptop/asus-x441na-n4200-4gb-500gb-win10-ga070t?pid=101829&amp;c=44">
                                                        Xem Asus X441NA N4200/4GB/500GB/Win10/(GA070T) cũ
                                                        <div>
                                                            Giá từ: <span>4.900.000₫</span>
                                                            <label class="installment">Tiết kiệm đến 35%</label>
                                                        </div>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="margin20"></div>
                                    <div class="margin20"></div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-9" style="margin-top: 15px; margin-bottom: 10px">
                                            <div>
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                                            Điều kiện sử dụng
                                                        </a>
                                                    </li>
                                                </ul>

                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="home">
                                                        <div class="clearfix dcontent">
                                                            <article class="area_article area_articleFull" style="">
                                                              @Model.NEWS_FILEHTML
                                                            </article>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-3">
                                            <div class="sec-heading-area p_0_15" style="text-align: CENTER;">
                                                <h2 class="section-heading">SẢN PHẨM LIÊN QUAN</h2>
                                            </div>
                                            <div class="productad">
                                                <div class="homeproduct" style="border: none">
                                                    @await Component.InvokeAsync("ProductRelation", new { catid = ViewBag.CatId })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

