@model CoreCnice.Domain.ESHOP_CONFIG

@{
    ViewData["Title"] = "Chỉnh sửa " + Model.CONFIG_NAME;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .radio {
        float: left !important;
        margin-right: 10px !important
    }
</style>
<script src="~/Admin/tinymce/js/tinymce/tinymce.js"></script>
@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data", data_ajax = "false" }))
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Chỉnh sửa thông tin - <span style="color:#0026ff"> @Model.CONFIG_NAME</span>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Lưu chỉnh sửa
            </button>
        </div>
    </div>
    <section class="content">
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="callout callout-info">
                <h4>Thông báo</h4>
                <p>
                    @Html.Raw(ViewBag.Error)
                </p>
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" class="form-control" asp-for="CONFIG_ID">
        <input type="hidden" class="form-control" asp-for="CONFIG_TITLE">
        <input type="hidden" class="form-control" asp-for="CONFIG_NAME_US">
        <input type="hidden" class="form-control" asp-for="CONFIG_FAVICON">
        <input type="hidden" class="form-control" asp-for="CONFIG_KEYWORD">
        @*<input type="hidden" asp-for="NEWS_ID" value="@Model.NEWS_ID" />*@
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin cấu hình</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Tên sở hữu</label>
                            <input type="text" class="form-control" asp-for="CONFIG_NAME">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email cấu hình</label>
                            <input type="text" class="form-control" asp-for="CONFIG_EMAIL">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mật khẩu</label>
                            <input type="text" class="form-control" asp-for="CONFIG_PASSWORD">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">SMTP server cấu hình gửi email</label>
                            <input type="text" class="form-control" asp-for="CONFIG_SMTP">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Tỷ giá đô la</label>
                            <input type="text" class="form-control" asp-for="CONFIG_PORT">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Cấu Hình Mã Nhúng (ga , google Master , ....)</label>
                            <textarea class="textarea1" asp-for="CONFIG_DESCRIPTION" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Facebook</label>
                            <input type="text" class="form-control" asp-for="CONFIG_FACEBOOK">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Google Plus</label>
                            <input type="text" class="form-control" asp-for="CONFIG_GOOGLE">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Youtube</label>
                            <input type="text" class="form-control" asp-for="CONFIG_ADD">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Instagram</label>
                            <input type="text" class="form-control" asp-for="CONFIG_FIELD1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Zalo</label>
                            <input type="text" class="form-control" asp-for="CONFIG_FIELD3">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Kích thước hình</label>
                            <input type="text" class="form-control" asp-for="CONFIG_FIELD5">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Cấu hình footer</label>
                            <textarea class="textarea" asp-for="CONFIG_FOOTER" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Cấu hình thông số</label>
                            <textarea class="textarea" asp-for="CONFIG_DESCRIPTION_EN" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Cấu hình bản đồ</label>
                            <textarea class="textarea" asp-for="CONFIG_FIELD2" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Thông tin liên hệ contact</label>
                            <textarea class="textarea" asp-for="CONFIG_FIELD4" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea.textarea',  // change this value according to your HTML
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor toc'
            ],
            a_plugin_option: true,
            //toolbar: [
            //    'undo redo | styleselect | bold italic | link image | alignleft aligncenter alignright',
            //    'newdocument, undo, redo, visualaid, cut, copy, paste, selectall, bold, italic, underline, strikethrough, subscript, superscript, removeformat, formats'
            //],
            toc_header: "div",
            toc_class: "our-toc",
            toolbar: 'undo redo toc | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
            autosave_ask_before_unload: true,
            autosave_interval: "30s",
            autosave_prefix: "{path}{query}-{id}-",
            autosave_restore_when_empty: false,
            autosave_retention: "2m",
            image_advtab: true,
            //file_browser_callback: 'myFileBrowser',
            a_configuration_option: 400,
            template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
            template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
            height: 600,
            image_caption: true,
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
            noneditable_noneditable_class: "mceNonEditable",
            toolbar_drawer: 'sliding',
            spellchecker_dialog: true,
            spellchecker_whitelist: ['Ephox', 'Moxiecode'],
            tinycomments_mode: 'embedded',
            content_style: ".mymention{ color: gray; }",
            contextmenu: "link image imagetools table configurepermanentpen",
            //images_upload_url: '/Areas/Admin/api/UploadService',
            //automatic_uploads: false,
            //images_reuse_filename: true,
            //images_upload_base_path: '/UploadImages/UploadService/'
            //image_advtab: true,
            //external_filemanager_path: "/Admin/responsive_filemanager/filemanager/",
            //filemanager_title: "Trình quản lý thư viện",
            //external_plugins: { "filemanager": "/Admin/responsive_filemanager/filemanager/plugin.min.js" }
            file_browser_callback: RoxyFileBrowser
        });

        $(function () {
            //select2 eklentimizin tanımı
            $('#select2').select2({
                placeholder: "Lựa chọn danh mục",
            });
        });

        function RoxyFileBrowser(field_name, url, type, win) {
            var roxyFileman = '/lib/fileman/index.html';
            if (roxyFileman.indexOf("?") < 0) {
                roxyFileman += "?type=" + type;
            }
            else {
                roxyFileman += "&type=" + type;
            }
            roxyFileman += '&input=' + field_name + '&value=' + win.document.getElementById(field_name).value;
            if (tinyMCE.activeEditor.settings.language) {
                roxyFileman += '&langCode=' + tinyMCE.activeEditor.settings.language;
            }
            tinyMCE.activeEditor.windowManager.open({
                file: roxyFileman,
                title: 'Roxy Fileman',
                width: 850,
                height: 650,
                resizable: "yes",
                plugins: "media",
                inline: "yes",
                close_previous: "no"
            }, { window: win, input: field_name });
            return false;
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
