@model IEnumerable<CoreCnice.Models.NewsModelCat>
@using CoreCnice.Connect;
@using CoreCnice.Domain;
@using CoreCnice.UtilsCs;
@*@model List<CoreCnice.Domain.ESHOP_AD_ITEM>*@
@{
    clsFormat cl = new clsFormat();
}
@foreach (var category in Model.ToList())
{
    string linkurl = "";

    if (!String.IsNullOrEmpty(linkurl))
    {
        linkurl = category.NEWS_URL;
    }
    else
    {
        linkurl = "/" + category.CAT_SEO_URL + "/" + category.NEWS_SEO_URL;
    }

    string linkimg = "";
    string linkimg1 = "";
    string linkimgNews = "";
    string linkimgNews1 = "";
    if (!String.IsNullOrEmpty(category.NEWS_IMAGE1))
    {
        linkimg = "/UploadImages/Data/News/" + category.NEWS_ID + "/" + category.NEWS_IMAGE1;
        linkimgNews = "/UploadImages/Data/News/" + category.NEWS_ID + "/thumb-" + category.NEWS_IMAGE1;
        if (Utils.checkfileExit(linkimgNews) == true)
        {
            linkimg = linkimgNews;
        }
    }
    else
    {
        linkimg = "/images/noimg.jpg";
    }

    if (!String.IsNullOrEmpty(category.NEWS_IMAGE2))
    {
        linkimg1 = "/UploadImages/Data/News/" + category.NEWS_ID + "/" + category.NEWS_IMAGE2;
        linkimgNews1 = "/UploadImages/Data/News/" + category.NEWS_ID + "/thumb-" + category.NEWS_IMAGE2;
        if (Utils.checkfileExit(linkimgNews1) == true)
        {
            linkimg1 = linkimgNews;
        }
    }
    else
    {
        linkimg1 = "/images/noimg.jpg";
    }
    string fileName = "wwwroot/UploadImages/Data/News/" + category.NEWS_ID + "/" + category.NEWS_FILEHTML;
    <!-- Section: About  -->
    <section>
        <div class="container-fluid pt-0 pb-0">
            <div class="section-content">
                <div class="row equal-height">
                    <div class="col-sm-6 col-md-6" style="min-height: 48em;">
                        <h2 class="mt-100 mb-30 line-height-1 line-bottom-edu">@category.NEWS_CODE <span class="text-theme-colored3">@category.NEWS_TITLE</span></h2>
                        @Html.Raw(cl.ReadFile(fileName.Replace("<p>", "").Replace("</p>", "")))
                    </div>
                    <div class="col-md-6 bg-img-cover hidden-sm hidden-xs p-0" data-bg-img="@linkimg" style="background-image: url('@linkimg'); min-height: 48em;">
                    </div>
                </div>
            </div>
        </div>
    </section>
}

