
@{
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<section class="error_two_area" style="min-height:0px;height:auto;margin-top:30px;margin-bottom:30px">
    <div class="container flex">
        <div class="error_content_two text-center">
            <img src="~/img/new/error.png" alt="">
            <h2>Không tìm thấy yêu cầu !</h2>
            <p>Có vẻ website đang gặp một sự cố nào đó . Mong quý khách thông cảm .</p>
            <a href="/" class="btn_three">Về trang chủ <i class="arrow_right"></i></a>
        </div>
    </div>
</section>