@model CoreCnice.Domain.ESHOP_CATEGORIES
@using CoreCnice.Connect;
@using CoreCnice.UtilsCs;

@{
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
    int typeCat = ViewBag.Type;
    string linkimg = "";
    string alt = "";

    if (!String.IsNullOrEmpty(Model.CAT_IMAGE3))
    {
        linkimg = "/UploadImages/Data/Cats/" + Model.CAT_ID + "/" + Model.CAT_IMAGE3;
    }
    else
    {
        if (!String.IsNullOrEmpty(ViewBag.IMAGE2))
        {
            linkimg = "/UploadImages/Data/Cats/" + Model.CAT_ID + "/" + Model.CAT_IMAGE2;
        }
        else
        {
            linkimg = "";
        }
    }
    if (!String.IsNullOrEmpty(ViewBag.Alt))
    {
        alt = ViewBag.Alt;
    }
    else
    {
        alt = ViewBag.Title;
    }
}

<style>
    .ex_team_item .hover_content, .ex_team_item .team_content {
        position: relative;
    }

    .ex_team_item .hover_content {
        display: none;
    }

    .seo_call_to_action_area {
        background: hsl(171, 100%, 29%);
        padding: 20px 0px;
    }

    .seo_banner_content h2 {
        font-size: 47px;
        line-height: 70px;
        color: hsl(218, 42%, 26%);
        font-weight: 600;
    }

    .price_tab {
        border-radius: 45px;
        max-width: 100%;
        background-color: hsl(0, 0%, 100%);
        -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 11, 40, 0.08);
        box-shadow: 0px 3px 13px 0px rgba(0, 11, 40, 0.08);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        border: 0px;
        padding: 7px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
    }

        .price_tab .nav-item .nav-link {
            margin: 0px;
            font: 400 16px "Poppins", sans-serif;
            color: hsl(225, 18%, 49%);
            padding: 12px 26px;
            display: inline-block;
            border: 0px;
            border-radius: 45px;
            min-width: auto;
            text-align: center;
            -webkit-transition: color 0.3s linear;
            -o-transition: color 0.3s linear;
            transition: color 0.3s linear;
            position: relative;
            z-index: 1;
        }
</style>

<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>@Html.Raw(ViewData["Title"])</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@ViewBag.Url">@Html.Raw(ViewData["Title"])</a>
                    </li>
                </ol>
                <div class="divider-15 d-none d-xl-block"></div>
            </div>
        </div>
    </div>
</section>
<section class="software_service_area sec_pad" style="background:#fff">
    <div class="container">
        <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            @Html.Raw(Model.CAT_DESC_EN)
        </div>
        @await Component.InvokeAsync("HistoryList", new { Position = ViewBag.Id })
    </div>
</section>