<header class="main-header">
    <!-- Logo -->
    <a href="/Admin/Dashboard" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>TE</b>PO</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>TEPO</b>ADMIN</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="/Admin/Dashboard" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">              
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">Admin Quản Trị</span>
                    </a>                  
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="/quantriweb" style="background: #c00808;"><i class="fa fa-fw fa-play"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>