@model IEnumerable<CoreCnice.Domain.ESHOP_USER>

@{

    var defaultGridPageSize = 20;
    //page title
    ViewData["Title"] = "Danh sách tài khoản";
     Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        DANH SÁCH TÀI KHOẢN
    </h1>
    <div class="pull-right">
        <a href="~/Admin/UserAdmin/Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            THÊM MỚI
        </a>
    </div>
</div>
<div class="content">
    <div id="example">
        <div id="grid"></div>
        <script>
                $(document).ready(function () {
                    $("#grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: "/Admin/UserAdmin/UserList"
                            },
                            pageSize: @(defaultGridPageSize)
                        },
                        groupable: true,
                        sortable: true,
                        selectable: true,
                        navigatable: true,
                         filterable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        columns: [{
                            field: "useR_NAME",
                            title: "Tên người dùng",
                        },{
                                field: "useR_UN",
                            title: "Tên tài khoản",
                            filterable: {
                                multi: true,
                                search: true
                            }
                        }, {
                                field: "useR_PUBLISHDATE",
                                title: "Ngày tạo",
                        },{
                                field: "useR_ID",
                    title: "Xem thông tin",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<a class="btn btn-default" href="/Admin/UserAdmin/Edit/#=useR_ID#"><i class="fa fa-pencil"></i>Xem chi tiết</a>',
                    width:150
                }]
                    });
                });
        </script>
    </div>
</div>
<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>

