@model IEnumerable<CoreCnice.Domain.ESHOP_ORDER>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var defaultGridPageSize = 20;
    //page title
    ViewBag.Title = "Danh sách đơn hàng";
}


<div class="content-header clearfix">
    <h1 class="pull-left">
        DANH SÁCH ĐƠN HÀNG
    </h1>
    @*<div class="pull-right">
        <a href="/Admin/AdminOrder/Create" class="btn btn-social btn-bitbucket btn-xs"> <i class="fa fa-plus-square"></i>  THÊM MỚI</a>
    </div>*@
</div>
<!-- Main content -->
<div class="content">
    <div id="example">
        <div id="grid"></div>
        <script>
                $(document).ready(function () {
                    $("#grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: "/Admin/AdminOrder/OrderList"
                            },
                            pageSize: @(defaultGridPageSize)
                        },
                        groupable: true,
                        sortable: true,
                        selectable: true,
                        navigatable: true,
                         filterable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        columns: [{
                            field: "ordeR_CODE",
                            title: "Mã đơn",
                            filterable: {
                                multi: true,
                                search: true
                            }
                        }, {
                                field: "receiveR_EMAIL",
                            title: "Email",
                            filterable: {
                                multi: true,
                                search: true
                            }
                            }, {
                                field: "ordeR_PUBLISHDATE",
                                title: "Thời gian đặt hàng",
                                type: "date",
                                format: "{0:dd-MM-yyyy}" ,
                                filterable: {
                                    multi: true,
                                    search: true
                                }
                        }, {
                            field: "ordeR_TOTAL_ALL",
                            title: "Tổng tiền",
                            format: "{0:n}",
                            filterable: {
                                multi: true,
                                search: true
                            }
                            }, {
                                field: "ordeR_STATUS",
                                title: "Tình trạng",
                                template: "#if(ordeR_STATUS == '0') {#<div class='btn btn- block btn-danger btn-xs'>Chưa xử lý</div>#} else{#<div class='btn btn-block btn-success btn-xs'>Đã xử lý</div>#}#",
                                filterable: {
                                    multi: true,
                                    search: true
                                }
                            },{
                                field: "ordeR_ID",
                    title: "Xem thông tin",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<a href="/Admin/AdminOrder/Edit/#=ordeR_ID#" class="btn btn-social btn-bitbucket btn-xs"><i class="fa fa-pencil" ></i> Xem chi tiết</a>',
                    width:150
                }]
                    });
                });
        </script>
    </div>
</div>

<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>
