@model IEnumerable<CoreCnice.Domain.ESHOP_NEWS>

@{

    //var defaultGridPageSize = 20;
    //page title
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .alert {
        display: none;
    }
</style>
<div class="content-header clearfix">
    <div class="pull-left" style="width: 50%;">
        <div class="alert alert-success alert-dismissible" style="margin-bottom: 0px;padding: 5px 15px;">
            <p style="margin-bottom: 0px;">
                <i class="icon fa fa-check"></i> <span class="thongbao"> Thông báo! </span>
            </p>
        </div>
    </div>
    <div class="pull-right">
        <a href="/Admin/@Url.Action("Create")" class="btn btn-social btn-bitbucket btn-xs"> <i class="fa fa-plus-square"></i>THÊM MỚI</a>
        <a style="cursor:pointer" class="btn btn-social btn-bitbucket btn-xs" id="capnhatlinkurl"> <i class="fa fa-plus-square"></i> CẬP NHẬT SEO URL EN</a>
        @*<button class="btn btn-social btn-bitbucket btn-xs" id="capnhatlinkurl"><i class="fa fa-plus-square"></i>CẬP NHẬT LINK URL</button>*@
    </div>
</div>
<div class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">DANH SÁCH SẢN PHẨM</h3>     
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Hình</th>
                        <th>Mã SP</th>
                        <th style="width:40%">Tên bài</th>
                        <th>Tình trạng</th>
                        <th>Ngày tạo</th>
                        <th>Xem thông tin</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody class="load-list"></tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            @*<div class="pull-left">
                    <button type="button" class="btn btn-block btn-danger btn-flat">CẬP NHẬT</button>
                </div>*@
            <div class="pull-right">
                <ul class="pagination pagination-sm no-margin pull-right" id="load-pagination"></ul>
            </div>
        </div>
    </div>
</div>


<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 36px;
        height: 36px;
        /* border-radius: 50%; */
        background-size: contain;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid hsl(0, 0%, 87%);
    }
</style>

<script>
    var count = 0;
    var txt_class = "";
    function load(txtSearch, page, status, catid) {
        count = 0;
        txt_class = "";
        $.ajax({
            url: '/Admin/News/GetNewsListSelle',
            type: "GET",
            data: { txtSearch: txtSearch, page: page, trang: 100, catId: catid,CusId: @ViewBag.ID },
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                console.log(result);
                var str = "";
                $.each(result.data, function (index, value) {
                    txt_class = "period_order_" + value.newS_ID;
                    var date = new Date(value.newS_PUBLISHDATE);
                    var tinhtrang = value.newS_SHOWTYPE;
                    count = count + 1;
                    str += "<tr>";
                    str += "<td><div class='customer-photo' style='background-image: url(/UploadImages/Data/News/" + value.newS_ID + "/" + value.newS_IMAGE1 + ");'></div> </td>";
                    str += "<td> <a class='nameCode' href='/Admin/News/Edit/" + value.newS_ID + "'>" + value.newS_CODE + "</a></td>";
                    str += "<td> <a class='nameCode' href='/Admin/News/Edit/" + value.newS_ID + "'>" + value.newS_TITLE + "</a></td>";
                    if (tinhtrang == 0) {
                        str += "<td><a data-id='" + value.newS_ID + "' class='btn btn-success btn-xs UpdateTinhTrang'  style='margin-right:10px;background:hsl(0deg 0% 35%)'><i class='fa fa-fw fa-arrow-circle-up'></i> Đã thuê</a></td>";
                    }
                    else {
                        str += "<td><a data-id='" + value.newS_ID + "' class='btn btn-success btn-xs UpdateTinhTrang'  style='margin-right:10px'><i class='fa fa-fw fa-arrow-circle-up'></i> Có sẵn</a></td>";
                    }
                    str += "<td>" + date.getDate() + '/' + date.getMonth() + '/' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes() + "</td>";
                    str += "<td><a href='/Admin/News/Edit/" + value.newS_ID + "' class='btn btn-social btn-info btn-xs'><i class='fa fa-pencil'></i> Xem chi tiết</a></td>";
                    str += "<td><a data-id='" + value.newS_ID + "' class='btn btn-success btn-xs CopyCode'  style='margin-right:10px;background:hsl(0deg 0% 35%)'><i class='fa fa-fw fa-copyright'></i> Sao chép</a><a data-id='" + value.newS_ID + "' class='btn btn-success btn-xs UpdateDauTrang'  style='margin-right:10px'><i class='fa fa-fw fa-arrow-circle-up'></i> Lên đầu</a><a data-id='" + value.newS_ID + "' class='btn bg-red btn-xs deleteNews'><i class='glyphicon glyphicon-trash'></i> Xóa</a></td>";
                    str += "</tr>";
                    //create pagination
                    var pagination_string = "";
                    var pageCurrent = result.pageCurrent;
                    var numSize = result.numSize;
                    //create button previous
                    if (pageCurrent > 1) {
                        var pagePrevious = pageCurrent - 1;
                        pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + pagePrevious + '>Previous</a></li>';
                    }
                    for (i = 1; i <= numSize; i++) {
                        if (i == pageCurrent) {
                            pagination_string += '<li class="page-item active"><a href="" class="page-link" data-page=' + i + '>' + pageCurrent + '</a></li>';
                        } else {
                            pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + i + '>' + i + '</a></li>';
                        }
                    }
                    //create button next
                    if (pageCurrent > 0 && pageCurrent < numSize) {
                        var pageNext = pageCurrent + 1;
                        pagination_string += '<li class="page-item"><a href="" class="page-link"  data-page=' + pageNext + '>Next</a></li>';
                    }
                    //load pagination
                    $("#load-pagination").html(pagination_string);
                });
                //load str to class="load-list"
                $(".load-list").html(str);
            }
        });
    };

    $(document).ready(function () {
        $("#capnhatlinkurl").click(function () {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Admin/News/CapNhatSeoUr",
                data: {
                   
                },
                success: function (result) {
                    if (result == "False") {
                        $('.thongbao').html("Cập nhật không thành công");
                        $('.alert').show(250).delay(2000).hide(250);
                    }
                    else if (result == "OK") {
                        $('.thongbao').html("Cập nhật thành công");
                        $('.alert').show(250).delay(2000).hide(250);
                    }
                    else {
                        alert(result);
                    }
                }
            });
        });

        $(function () {
            //select2 eklentimizin tanımı
            $('#select2').select2({
                placeholder: "Lựa chọn danh mục",
            });
        });
        //function load pagination
        $("body").on("click", ".pagination li a", function (event) {
            event.preventDefault();
            var page = $(this).attr('data-page');
            var slcat = $("#slecCat").val();
            //load event pagination
            var txtSearch = $(".txtSearch").val();
            if (txtSearch != "") {
                load(txtSearch, page, null, slcat)
            }
            else {
                load(null, page, null, slcat)
            }
        });

        $("#search").click(function () {
            var txtSearch = $("#txtSearch").val();
            var slcat = $("#slecCat").val();
            if (txtSearch != "") {
                load(txtSearch, 1, null, slcat)
            }
            else {
                load(null, 1, null, slcat)
            }
        });

        $("body").on("click", ".deleteNews", function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Admin/News/DeleteNewsId",
                data: {
                    id: $(this).attr("data-id"),
                },
                success: function (result) {
                    if (result == "False") {
                        $('.thongbao').html("Xóa không thành công . Liên hệ kỹ thuật kiểm tra chức năng");
                        $('.alert').show(250).delay(2000).hide(250);
                    }
                    else if (result == "OK") {
                        $('.thongbao').html("Xóa thông tin thành công");
                        $('.alert').show(250).delay(2000).hide(250);
                        var slcat = $("#slecCat").val();
                        var txtSearch = $("#txtSearch").val();
                        if (txtSearch != "") {
                            load(txtSearch, 1, null, slcat)
                        }
                        else {
                            load(null, 1, null, slcat)
                        }
                    }
                    else {
                        alert(result);
                    }
                }
            });
        });

        $("body").on("click", ".UpdateDauTrang", function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Admin/News/UpdateNews",
                data: {
                    id: $(this).attr("data-id"),
                },
                success: function (result) {
                    if (result == "False") {
                        $('.thongbao').html("Cập nhật không thành công");
                        $('.alert').show(250).delay(2000).hide(250);
                    }
                    else if (result == "OK") {
                        $('.thongbao').html("Cập nhật thông tin thành công");
                        $('.alert').show(250).delay(2000).hide(250);
                        var slcat = $("#slecCat").val();
                        var txtSearch = $("#txtSearch").val();
                        if (txtSearch != "") {
                            load(txtSearch, 1, null, slcat)
                        }
                        else {
                            load(null, 1, null, slcat)
                        }
                    }
                }
            });
        });

        $("body").on("click", ".UpdateTinhTrang", function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Admin/News/UpdateNewsTinhTrang",
                data: {
                    id: $(this).attr("data-id"),
                },
                success: function (result) {
                    if (result == "False") {
                        $('.thongbao').html("Cập nhật không thành công");
                        $('.alert').show(250).delay(2000).hide(250);
                    }
                    else if (result == "OK") {
                        $('.thongbao').html("Cập nhật thông tin thành công");
                        $('.alert').show(250).delay(2000).hide(250);
                        var slcat = $("#slecCat").val();
                        var txtSearch = $("#txtSearch").val();
                        if (txtSearch != "") {
                            load(txtSearch, 1, null, slcat)
                        }
                        else {
                            load(null, 1, null, slcat)
                        }
                    }
                }
            });
        });

        $("body").on("click", ".CopyCode", function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Admin/News/CopyNews",
                data: {
                    id: $(this).attr("data-id"),
                },
                success: function (result) {
                    if (result == "False") {
                        $('.thongbao').html("Không copy được sản phẩm");
                        $('.alert').show(250).delay(2000).hide(250);
                    }
                    else if (result == "OK") {
                        $('.thongbao').html("Copy sản phẩm thành công");
                        $('.alert').show(250).delay(2000).hide(250);
                        var slcat = $("#slecCat").val();
                        var txtSearch = $("#txtSearch").val();
                        if (txtSearch != "") {
                            load(txtSearch, 1, null, slcat)
                        }
                        else {
                            load(null, 1, null, slcat)
                        }
                    }
                    else {
                        alert(result);
                    }
                }
            });
        });
        //load init
        load(null, 1, null, null);
    });


</script>
